*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

body{
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

.main{
    display: flex;
}

/* Header Styles */
.header{
    padding: 15px;
}

/* Modal Styles */

#modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
}

#task-modal,#project-modal{
    display: none;
    background-color: white;
    overflow: auto;
    margin: 0px auto;
    padding: 25px;
    width: 35%;
    font-size: 18px;
    font-weight: bold;
}

.task-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* Main Content Box Style */

.main {
    height: 100vh;
}

.content{
    flex: 1 0 auto;
}

#addTask{
    position: fixed;
    bottom: 25px;
    right: 25px;
}

/* Task Box Styles */

.task-container{
    height: 100%;
    overflow: scroll;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(75px,1fr));
    gap: 20px;
    padding-top: 25px;
}

.task{
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.task-title{
    display: flex;
    justify-content: space-between;
    
}




/* Sidebar Styles */

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}

.projects-container{
    height: 100px;
    margin-bottom: 0;
    overflow: scroll;
}

