*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid black;
}

body{
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

.main{
    display: flex;
}

#modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.main {
    height: 100vh;
}

.content{
    flex: 1 0 auto;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.projects-container{
    margin-bottom: 100px;
    overflow: scroll;
}

.task-container{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50px,1fr));
}